<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Intro</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <!--        <input type="text" v-model="message">-->
    <!--        {{message}}-->

    <!--    <a v-bind:href="url">link 1</a>-->
    <!--    <a :href="url">link 2</a>-->

    <!--    <input type="text" v-model="url">-->

    <!--    <input type="button" value="click me" v-on:click="handle()">-->
    <!--    <input type="button" value="click me" @click="handle()">-->

    <!--    年龄<input type="text" v-model="age">经判定，为:-->
    <!--    <span v-if="age <= 35">年轻人(35及以下)</span>-->
    <!--    <span v-else-if="age > 35 && age < 60">中年人(35-60)</span>-->
    <!--    <span v-else>老年人(60及以上)</span>≈-->
    <!--    <br><br>-->
    <!--    年龄<input type="text" v-model="age">经判定，为:-->
    <!--    <span v-show="age <= 35">年轻人(35及以下)</span>-->
    <!--    <span v-show="age > 35 && age < 60">中年人(35-60)</span>-->
    <!--    <span v-show>老年人(60及以上)</span>-->


    <div v-for="addr in addrs">{{addr}}</div>
    <hr>
    <div v-for="(addr,index) in addrs">{{index + 1}} : {{addr}}</div>
</div>
</body>
<script>
    // new Vue({
    //     el: "#app",
    //     data: {
    //         message: "Hello Vue"
    //     }
    // })

    // new Vue({
    //     el: "#app",
    //     data: {
    //         // url: "https://www.baidu.com"
    //     },
    //     methods: {
    //         handle: function () {
    //             alert("you clicked me")
    //         }
    //     }
    // })

    // new Vue({
    //     el: "#app",
    //     data: {
    //         age: 20
    //     },
    //     methods: {}
    // })

    new Vue({
        el: "#app",
        data: {
            addrs: ["Beijing", "Shanghai", "Chengdu", "Hong Kong", "Shenzhen"]
        },
        methods: {}
    })
</script>
</html>